<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">O nas</h2>
                <hr class="light">
                <p class="text-faded">Firma Autoprokat powstała w&nbsp;2014 roku. Od tego czasu stale dbamy o&nbsp;zadowolenie naszych Klientów i&nbsp;standard naszej floty pojazdów.</p>
                <hr class="light">
                <p class="text-faded">Do Państwa dyspozycji posiamy samochody osobowe, od niewielkich i&nbsp;ekonomicznych, po te dysponujące większą mocą i&nbsp;pojemnością bagażnika.</p>
                <hr class="light">
                <p class="text-faded">W naszej ofercie znajdują się także samochody dostawcze i&nbsp;9-osobowe busy, idealne na wakacyjne wyjazdy z&nbsp;rodziną i&nbsp;znajomymi.</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Gdzie jesteśmy?</a>
            </div>
        </div>
    </div>
</section>
