<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Skontaktuj się z nami!</h2>
                <hr class="primary">
                <p>Potrzebujesz samochodu na kilka dni? Interesuje Cię wynajem długoterminowy?<br>Zadzwoń lub&nbsp;napisz e-maila.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3 col-lg-offset-2 text-center">
                <a href="tel:{{ site.phone }}">
                    <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.phone_visible }}</p>
                </a>
            </div>
            <div class="col-sm-6 col-lg-3 col-lg-offset-2 text-center">
                <a href="mailto:{{ site.email }}">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.email }}</p>
                </a>
            </div>
        </div>
    </div>
</section>