<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Lokalizacje</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-map-marker text-primary warszawa-znacznik"></i>
                    <h3>Warszawa</h3>
                    <p class="text-muted">W&nbsp;stolicy jesteśmy elastyczni i&nbsp;zawsze staramy się dostować do Państwa potrzeb.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-map-marker text-primary bp-znacznik" data-wow-delay=".1s"></i>
                    <h3>Biała Podlaska</h3>
                    <p class="text-muted">Dworzec główny oraz&nbsp;okolice ulicy Stacyjnej.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-map-marker text-primary terespol-znacznik" data-wow-delay=".2s"></i>
                    <h3>Terespol</h3>
                    <p class="text-muted">Naprzeciwko wyjścia z&nbsp;dworca kolejowego.</p>
                </div>
            </div>
        </div>
    </div>
    <br>>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-center">
                <a href="#portfolio" class="btn btn-primary btn-xl page-scroll">Zobacz samochody</a>
            </div>
            <div class="col-md-6 col-sm-6 text-center">
                <a href="#contact" class="btn btn-primary btn-xl page-scroll go-to-contact-btn">Skontaktuj się</a>
            </div>
        </div>
    </div>
</section>